body {
    margin: 0 auto !important;
}
.carousel {
  height: auto;
}
.first-slide .second-slide .third-slide {
    height: inherit;
}

.carousel-caption {
  z-index: 10;
}


.carousel .item {
  height: 500px;
}
.h1, h1 {
    font-size: 4vw !important;
    font-family: 'Comfortaa' !important;
}
.carousel-inner {
    height: 60vh !important;
}
.carousel-caption {
  color: black !important;
  text-shadow: none !important;
}
.carousel-indicators li {
  border: 1px solid #e4e4e4 !important;
}
.carousel-indicators .active {
  background-color: #bfbfbf !important;
}
.carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px !important;
}
.btn-group-lg>.btn, .btn-lg {
  font-size: 15px !important;
}
.text-muted {
  color: #b14141 !important;
}
.lead {
  color: #7b6c6c !important;
  font-size: 13px !important;
  
}
.center-block {
  width: 50%;
  height: 40% !important;
}
section {
  float: inherit;
}
#section1 {
    height: 100vh !important;
    clear: both!important;
}
#section2 {
  height: 100vh !important;
  clear: both;
}
#section3 {
  height: 100vh !important;
  clear: both;
}#section4 {
  height: 100vh !important;
  clear: both;
}
#section5 {
  height: 100vh !important;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block !important;
    max-width: 100% !important;
    height: 60vh !important;
}
/*navbar*/
.col-md-7 {
  text-align: left;
}
.logo_q {
  margin-left: 40px !important;
  float: left !important;
  height: 8vh;
}
.addresstop {
  float: right;
  margin-left: 15px;
}
header {
    position: relative !important;
    margin: 0 auto !important;
}
.navbar-nav {
    float: right !important;
    margin-right: 30px !important;
    border-radius: 20px !important;
}
.navbar-inverse {
    background-color: rgba(138, 53, 53, 0) !important;
    border-color: rgba(8, 8, 8, 0) !important;
}
.navbar-inverse  {
    
    background-image: linear-gradient(to bottom,#e2e2e2 0,rgba(238, 238, 238, 0.09) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    background-repeat: repeat-x !important;
    border-radius: 4px !important;
}
.container {
    position: absolute !important;
    margin: 0 auto !important;
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    /*max-width: 1000px !important;*/
}
.navbar-inverse .navbar-nav>li>a {
    color: black !important;
}

/*navbar*/
.row {
    margin: auto !important;
    text-align: center;
}
#map {
  border: 0;
    width: 100% !important;
    height: 30vh;
}
.form-control {
  width: 60vh !important;
  height: 3vh !important;
}
#form {
    padding-bottom: 55px;
    float: right;
    margin-left: 50px;
}
#msg {
    margin: 0px;
    width: 100%;
    height: 72px;
}
.maxsection {
    max-width: 1000px;
    margin: auto;
}
.bd-example {
  float: left;
  clear: both;
  margin: 50px;
}
#kontakty {
    padding: 60px;
    margin: auto !important;
    text-align: center !important;
}
footer {
  flex: 0 0 auto;
}
#menu {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.84);
}
#section2 {
   padding-top: 5%;
}
#scrollup {
position: fixed; /* фиксированная позиция */
opacity: 0.8; /* прозрачность */
/*padding: 15px 10px 10px;  отступы */
background: #aaa;
border-radius: 5px; /* скругление углов */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
left: 10px; /* отступ слева */
bottom: 10px; /* отступ снизу */
display: none; /* спрятать блок */
cursor: pointer;
}

/*.img-circle {
    background: #ccc;
}*/
/* http://www.menucool.com/jquery-slider */

#thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    width:100%;
    max-width:900px;
    padding:0;
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {    
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:0;
    margin:0;
}
 
#thumbnail-slider div.inner ul {    
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    display:inline-block;
    margin-top:20px;
    margin-bottom:90px;
    margin-left:-30px; margin-right:-30px; /* Spacing between thumbs*/
    -webkit-transform:scale(0.9);
    transform:scale(0.9); /*Note: The scale down will increase the spacing between slides. You can set negative margins as did above to roll back the spacing. */
    -webkit-transition:-webkit-transform 0.5s;
    transition:transform 0.5s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
    
    /*-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/
    
}

#thumbnail-slider ul li.active {
    -webkit-transform:scale(1.15); 
    transform:scale(1.15); /*Note: if scale is greater than 1, the margin-top and margin-bottom in the selector "#thumbnail-slider li" must be set with a sufficient value so the enlarged image will be shown within the margins.*/
    background-color:transparent;
    
	/*-webkit-filter: initial;
	filter: initial;*/
}

#thumbnail-slider .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
    cursor:inherit;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.4)));
    transition:all linear 0.4s;
}


/*-- Start 3D --*/
    #thumbnail-slider .thumb {
        -webkit-transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
        transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
    }

    #thumbnail-slider .active .thumb {
        -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg); 
        transform: translateX(0px) translateZ(0px) rotateY(0deg); 
    }

    #thumbnail-slider li.active ~ li .thumb {
        -webkit-transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
        transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
    }
/*-- End 3D --*/

/* --------- navigation controls ------- */   
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/
#thumbnail-slider-prev, #thumbnail-slider-next {display:none;}

